<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Produk Kami</title>
</head>
<body>
  <h1>Daftar Produk</h1>
  <div style="display: flex; flex-wrap: wrap;">
    <% products.forEach((product) => { %>
      <div style="margin: 10px; border: 1px solid #ccc; padding: 10px; width: 200px; text-align: center;">
        <img src="<%= product.imageUrl %>" alt="Product Image" width="200" />
        <h3><%= product.name %></h3>
        <p>Harga: RP. <%= product.price %></p>
      </div>
    <% }) %>
  </div>
</body>
</html>
